body {
    margin: none;
    text-align: center;
}

header {
    background-color: rgb(65, 91, 126);
    margin-bottom: 20px;
}

footer {
    background-color: rgb(65, 91, 126);
}

nav {
    background-color: rgb(62, 68, 68);
    display: flex;
    justify-content: center;
    gap: 12.5%;    
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;

}

.card {
    display: block;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.card-title {
    width: 100%;
}

.card-description {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#img-me {
    max-width: 20%;
    margin: 20px;
}

#flag {
    max-width: 28%;
    margin: 20px;
}

#flag-name {
    font-style: italic;
}

#img-flag {
    width: 100%;
}

#dev-links{
    display: flex;
    height: 90%;
    text-align: left;
    align-items: center;
}